ile.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.layout-body {
    display: flex;
    flex: 1;
}

.layout-content {
    flex: 1;
    min-width: 0;
    padding: 2rem;
    background: #edf4ff;
    overflow-y: auto;
}

@media (max-width: 1023px) {
    .layout-content {
        padding: 1.5rem;
    }
}

@media (max-width: 767px) {
    .layout-content {padding: 1rem;}
}

@media (max-width: 414px) {
    .layout-content {padding: 0.75rem;}
}